<h3 class="header-component">Напої</h3>
<div style="margin: 0 auto;max-width: calc(100% - 192px);">
  <div class="container-drinks">
    <div *ngFor="let drink of productArray" class="block-drink">
      <img src="{{drink.image}}" alt="">
      <h5>{{drink.title}}</h5>
      <hr>
      <div class="order-prod">
        <div class="prod-price">
          <span>{{drink.price}}</span>
          <i>грн</i>
        </div>
        <div class="prod-count">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/lapiec-6c366.appspot.com/o/images%2Fpromotions%2Fredminus.png?alt=media&token=a0bfc7a0-26d2-4ae2-adf1-193b197792b4"
            alt="" (click)="changeProductCount(drink,false)">
          <input type="text" [value]="drink.count">
          <img src="https://www.pngkey.com/png/full/6-60004_plus-sign-images-clipart-best-2hluoq-clipart-red.png" alt=""
            (click)="changeProductCount(drink,true)">
        </div>
      </div>
      <div class="prod-price">
        <a class="aLink" (click)="addToBusket(drink)">Замовити</a>
      </div>
    </div>
  </div></div>
