header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #333333 solid 1px;
  border-bottom-width: 0px;
  -webkit-box-shadow: 2px 2px 4px #e9e8e8;
          box-shadow: 2px 2px 4px #e9e8e8;
  background-color: white;
  z-index: 1000;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.logo img {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 50px;
  -webkit-transition: all .45s;
  transition: all .45s;
  cursor: pointer;
}

.logo img:hover {
  opacity: 0.7;
}

.pages {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Comfortaa', cursive;
}

.pages a {
  text-decoration: none;
  position: relative;
  margin-top: 20px;
  color: black;
}

.pages a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages a div p {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.pages a div img {
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: cover;
}

.active-color {
  color: #dd0f0f;
}

.pages a div:hover p {
  color: #dd0f0f;
}

.pages a::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 12px;
  width: 1px;
  height: 30px;
  background: #ebebeb;
}

.location {
  width: 80px;
  margin-top: 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
}

.location p {
  position: relative;
}

.location p::after {
  content: "";
  position: absolute;
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/892/892498.svg?token=exp=1617820233~hmac=4112aba8134eab7444935dce0eeb20d2");
  top: 3px;
  left: 46px;
  width: 12px;
  height: 13px;
  background-position: center;
  background-size: cover;
}

.info-users-block {
  width: 500px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.info-users-block .header-call p {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.info-users-block .header-order {
  width: 55px;
  height: 45px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.info-users-block .header-order img {
  width: 28px;
  height: 28px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.info-users-block .header-order span {
  display: block;
  width: 30px;
  font-size: 13px;
  margin-right: 2px;
  text-align: right;
}

.info-users-block .header-order div {
  font-size: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-users-block .header-user {
  font-family: 'Comfortaa', cursive;
}

.info-users-block .header-user a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.info-users-block .header-user a:hover {
  color: #dd0f0f;
}

.info-users-block .header-lang {
  width: 48px;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  margin-top: 20px;
}

.info-users-block .header-lang p {
  position: relative;
}

.tell-request {
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.tell-phone {
  color: #dd0f0f;
  font-size: 20px;
  -webkit-transition: all .45s;
  transition: all .45s;
  margin-bottom: 0px;
}

.header-call:hover .tell-request {
  color: #dd0f0f;
}

.header-call:hover .tell-phone {
  color: black;
}

.header-call:hover .tell-request {
  color: #dd0f0f;
}

.header-call:hover .tell-phone {
  color: black;
}

.header-lang p::after {
  content: "";
  position: absolute;
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/892/892498.svg?token=exp=1617820233~hmac=4112aba8134eab7444935dce0eeb20d2");
  top: 3px;
  left: 34px;
  width: 12px;
  height: 13px;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=header.component.css.map */