<div style="margin-top: 120px;"><div class="container-fluid mb-3 mt-3">
    <div class="row">
      <div class="col">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3">
            <button [routerLink]="[ 'category' ]" routerLinkActive="active" class="nav-link" type="button">Категорії</button>
            <button [routerLink]="[ 'product' ]" routerLinkActive="active" class="nav-link" type="button">Продукти</button>
            <button [routerLink]="[ 'promotions' ]" routerLinkActive="active" class="nav-link" type="button">Акції</button>
            <button [routerLink]="[ 'orders' ]" routerLinkActive="active" class="nav-link" type="button">Замовлення</button>
            <button class="btn btn-warning" (click)="singOut()">Вийти</button>
          </div>
          <div class="tab-content col-10" id="v-pills-tabContent">
              <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div></div>